# ollama
OLLAMA_HOST=http://localhost:11434

# lmstudio
LMSTUDIO_BASE_URL="http://localhost:1234/v1"
LMSTUDIO_API_KEY=no_needed

# openrouter
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"
OPENROUTER_API_KEY=

# polza.ai
POLZAAI_BASE_URL="https://api.polza.ai/api/v1"
POLZAAI_API_KEY=

# vsellm.ru
VSELLM_BASE_URL="https://api.vsellm.ru/v1"
VSELLM_API_KEY=
